<!DOCTYPE html>
<html ng-app="carApp">

<head>
  <link data-require="bootstrap@4.1.1" data-semver="4.1.1" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script data-require="angularjs@1.6.4" data-semver="1.6.4" src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="app.js"></script>
  <script src="carGalleryCtrl.js"></script>
  <script src="convertService.js"></script>
  <script src="carsService.js"></script>
</head>

<body>
  <main class="container">
    <div ng-controller="carsCtrl">
      <h1 class="display-1 mb-5">Cars App</h1>
      <div class="text-center" ng-hide="cars && cars.length > 0">
        You don't have any cars registered
      </div>
      <div ng-show="cars && cars.length > 0">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Filter Cars" ng-model="query">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th ng-click="updateOrderBy('brand')">Brand <i class="fa" ng-class="{'fa-caret-down': propToOrder === 'brand' && !reverse, 'fa-caret-up': propToOrder === 'brand' && reverse}"></i></th>
              <th ng-click="updateOrderBy('model')">Model <i class="fa" ng-class="{'fa-caret-down': propToOrder === 'model' && !reverse, 'fa-caret-up': propToOrder === 'model' && reverse}"></i></th>
              <th ng-click="updateOrderBy('km')">KM <i class="fa" ng-class="{'fa-caret-down': propToOrder === 'km' && !reverse, 'fa-caret-up': propToOrder === 'km' && reverse}"></i></th>
              <th ng-click="updateOrderBy('mile')">Mile <i class="fa" ng-class="{'fa-caret-down': propToOrder === 'mile' && !reverse, 'fa-caret-up': propToOrder === 'mile' && reverse}"></i></th>
              <th ng-click="updateOrderBy('year')">Year <i class="fa" ng-class="{'fa-caret-down': propToOrder === 'year' && !reverse, 'fa-caret-up': propToOrder === 'year' && reverse}"></i></th>
              <th>Km Per Year</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="car in cars | filter : filterCars | orderBy : propToOrder : reverse" ng-click="selectCar(car)" ng-class="{'table-success' : car === selectedCar}">
              <td>{{car.brand}}</td>
              <td>{{car.model}}</td>
              <td>{{car.km | number}}</td>
              <td>{{car.mile | number}}</td>
              <td>{{car.year}}</td>
              <td>{{car.kmPerYear() | number : 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

</html>